<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Menu</title>
</head>
<body>

<h1>Restaurant Menu</h1>
<br>

{% for meal in meals %}
<h2>{{ meal.1 }}</h2>

    {% for m in item_list %}
        {% if m.category == meal.0 %}
            {% if m.is_available == 1 %}
                <h4>{{ m.meal }}</h4>
            {% else %}
                <h4 style="text-decoration: line-through;" title="Sold Out">{{ m.meal }}</h4>
            {% endif %}

            <p>{{ m.desc }}</p>
            <br>
        {% endif %}
    {% endfor %}

<br> <br>
{% endfor %}

</body>
</html>